$orange: #c6362d;
$rose: #bd1852;
$dark: #2d343a;
$purple: #7e208e;
$darkpurple: #552f96;
$indigo: #334293;
$blue: #1c79c6;
$lightblue: #0288c5;
$cyan: #0198ab;
$pinegreen: #01796f;
$green: #3f8d42;
$lightgreen: #719d3c;
$lime: #a7b22f;
$yellow: #cfbe32;
$amber: #ce9c07;
$orange: #cf7b01;
$deeporange: #cf471d;
$brown: #61453a;
$gray: #7f7f7f;
$bluegrey: #4f6572;
$small: 12px;
$medium: 16px;
$big: 18px;
$large: 24px;

.cup{
    cursor: pointer;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.none{
    display: none;
}
.block{
    display: block;
}
@mixin flex-center{
    display: flex;
    align-items: center;
}
.column{
    flex-direction: column;
}
.m-auto{
    margin: 0 auto;
}
.gap-50{
    gap: 50px;
}
.mb-50{
    margin: 50px;
}
.m-25{
    margin: 25px;
}
.p-25{
    padding: 25px;
}
.border-blue{
    border: 1px solid $blue;
}